:root {
  /* colors */
  --clr-black-900: #090909;
  --clr-black-800: #141414;
  --clr-black-700: #151515;
  --clr-black-600: #202020;
  --clr-black: #000;

  --clr-white-200: #fafafa;
  --clr-white-300: #ececec;
  --clr-white: #fff;

  --clr-gray: #d7d7d7;

  /* spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-13: 3.25rem;
  --spacing-14: 3.5rem;
  --spacing-15: 3.75rem;
  --spacing-16: 4rem;

  /* transitions */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.75s ease;
}

/* General styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--clr-white-200);
  color: var(--clr-black-700);
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: var(--spacing-3);
  color: var(--clr-black-800);
  font-weight: 700;
}

h1 {
  font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.75rem;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-4);
}

/* Utility */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  color: var(--clr-black-900);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* Header */
header {
  padding: var(--spacing-5) 0;
  background-color: var(--clr-white);
}

.logo {
  width: 140px;
}

@media (min-width: 600px) {
  .logo {
    width: 207px;
  }
}

.nav-items {
  gap: var(--spacing-5);
  text-transform: uppercase;
  font-weight: 600;
}

/* Main */

/* Article */
.article {
  background-image: url('/images/article-image-hero.png');
  background-size: cover;
  background-position: center center;
  color: var(--clr-white);
  padding: 5rem 0 var(--spacing-4) var(--spacing-4);
}

.article h1 {
  color: var(--clr-white);
  letter-spacing: -1px;
  max-width: 300px;
}

.article p {
  max-width: 400px;
}

@media (min-width: 600px) {
  .article {
    padding: 16rem 0 var(--spacing-6) var(--spacing-6);
  }
  .article h1 {
    max-width: 700px;
  }

  .article p {
    max-width: 615px;
  }
}

/* Blog Section */
.blog {
  padding: var(--spacing-6) 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas: 'a1' 'a2' 'a3' 'a4' 'a5' 'a6';
  gap: 1.5em;
}

.blog img {
  width: 100%;
  margin-bottom: var(--spacing-3);
}

span {
  margin-bottom: var(--spacing-2);
  display: inline-block;
}

@media (min-width: 600px) {
  .blog {
    grid-template-areas:
      'a1 a2 a6'
      'a3 a4 a5';
  }
  .blog-article img {
    width: 100%;
    height: 232px;
    object-fit: cover;
    display: block;
  }

  .blog-article:nth-child(1) {
    grid-area: a1;
  }
  .blog-article:nth-child(2) {
    grid-area: a2;
  }
  .blog-article:nth-child(3) {
    grid-area: a3;
  }
  .blog-article:nth-child(4) {
    grid-area: a4;
  }
  .blog-article:nth-child(5) {
    grid-area: a5;
  }
  .blog-article:nth-child(6) {
    grid-area: a6;
  }
}

.btn {
  text-decoration: underline;
  font-weight: 700;
  color: var(--clr-black);
  text-underline-offset: 0.2rem;
  text-align: center;
  margin-inline: auto;
  display: block;
}

/* Footer */
footer {
  background-color: var(--clr-black-600);
  color: var(--clr-white-300);
  text-align: center;
  margin-top: var(--spacing-12);
  padding: var(--spacing-8);
}

footer h3 {
  margin: 0;
  color: var(--clr-white-300);
  margin-bottom: var(--spacing-1);
}
footer p {
  margin: 0;
  font-size: 0.75rem;
  color: var(--clr-gray);
}
